<?xml version='1.0' encoding='utf-8'?>
<widget id="tk.abdullahozkul.aposh" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Aposh</name>
    <description>
        abdullahozkul.tk | Mobil Uygulamasıdır.
    </description>
    <author email="abdullahozkul54@gmail.com" href="http://abdullahozkul.tk">
        Abdullah ÖZKUL
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
